<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendación de Proveedores</title>
    {% load static %}
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Recomendación de Proveedores</h1>
    </header>
    <div class="container">
        <form method="get">
            <label for="departamento">Departamento:</label>
            <input type="text" id="departamento" name="departamento" placeholder="Ingresa el departamento" required>
        
            <label for="horario">Horario:</label>
            <select id="horario" name="horario">
                <option value="dia">Día</option>
                <option value="noche">Noche</option>
            </select>
        
            <button type="submit">Buscar Proveedor</button>
        </form>
        
        {% if departamento %}
        <button id="btn-ver-grafo">Ver Grafo del Departamento</button>
        {% endif %}
        

        {% if mejor_empresa %}
        <div class="result">
            <h2>Recomendación:</h2>
            <p><strong>Empresa:</strong> {{ mejor_empresa }}</p>
            <p><strong>Latencia Aproximada:</strong> {{ menor_latencia }} ms</p>
        </div>
        {% else %}
        <div class="result">
            <p>No se encontraron proveedores para el departamento especificado.</p>
        </div>
        {% endif %}

        <svg id="grafo-data" width="1200" height="800">{{ grafo_json|safe }}</svg>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
